:root{
		--safetybox-yellow: #f4b65c;
		--safetybox-yellow-hover: #ffc56d;
}

body{
    font-weight: 300;
}

h2, h3, p, a{
    font-weight: 500;
}

h1{
    font-size: 2rem;
    font-weight: 800;
}

h2{
    font-size: 1.7rem;
    font-weight: 500;
}

h3{
    font-size: 2rem;
}

p{
    font-size:1.5rem;
}

